flows/Close_Cases_Waiting_on_Customer_Response_Workflow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_Case_Contact_0</name>
        <label>Notify Case Contact</label>
        <locationX>264</locationX>
        <locationY>876</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Loop_through_Cases_Waiting_on_Customer_Response</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>CaseContactNotificationEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Loop_through_Cases_Waiting_on_Customer_Response.Contact.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Case {!Loop_through_Cases_Waiting_on_Customer_Response.CaseNumber} is closed</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_Cases_to_Collection</name>
        <label>Add Cases to Collection</label>
        <locationX>396</locationX>
        <locationY>636</locationY>
        <assignmentItems>
            <assignToReference>CasesToCloseCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CaseRecordFromCurrentLoopItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Contact_Email_Provided</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Value_from_Current_Loop_Item_to_Case_Record</name>
        <label>Assign Value from Current Loop Item to Case Record</label>
        <locationX>396</locationX>
        <locationY>516</locationY>
        <assignmentItems>
            <assignToReference>CaseRecordFromCurrentLoopItem.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecordFromCurrentLoopItem.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Cases_Waiting_on_Customer_Response.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecordFromCurrentLoopItem.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Cases_Waiting_on_Customer_Response.Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecordFromCurrentLoopItem.CaseNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Cases_Waiting_on_Customer_Response.CaseNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Cases_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Contact_Email_Provided</name>
        <label>Check if Contact Email Provided</label>
        <locationX>396</locationX>
        <locationY>756</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Cases_Waiting_on_Customer_Response</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Email is  not provided</defaultConnectorLabel>
        <rules>
            <name>Email_is_Provided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Cases_Waiting_on_Customer_Response.ContactEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Case_Contact_0</targetReference>
            </connector>
            <label>Email is Provided</label>
        </rules>
    </decisions>
    <description>When Cases are waiting on customer response for more than 7 days, auto close the case and send email notification to the Case Contact when that the case is closed.</description>
    <formulas>
        <description>Formula to returns days when the record was last modified from today</description>
        <name>LastModifiedDateFormula</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate -7}</expression>
    </formulas>
    <interviewLabel>Close Cases Waiting on Customer Response Workflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Close Cases Waiting on Customer Response Workflow</label>
    <loops>
        <description>Loop through Cases Waiting on Customer Response one by one</description>
        <name>Loop_through_Cases_Waiting_on_Customer_Response</name>
        <label>Loop through Cases Waiting on Customer Response</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <collectionReference>Get_Cases_Waiting_on_Customer_Response</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Value_from_Current_Loop_Item_to_Case_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Close_Cases</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Gets all Cases Records that are Waiting on Customer Response Status</description>
        <name>Get_Cases_Waiting_on_Customer_Response</name>
        <label>Get Cases Waiting on Customer Response</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Cases_Waiting_on_Customer_Response</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Last_Modified__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>LastModifiedDateFormula</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Waiting on Customer Response</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Close_Cases</name>
        <label>Close Cases</label>
        <locationX>176</locationX>
        <locationY>1188</locationY>
        <inputReference>CasesToCloseCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Cases_Waiting_on_Customer_Response</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Waiting on Customer Response</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-05-10</startDate>
            <startTime>13:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>CaseContactNotificationEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!Loop_through_Cases_Waiting_on_Customer_Response.Contact.FirstName},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your Case &lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Loop_through_Cases_Waiting_on_Customer_Response.CaseNumber}&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &lt;/span&gt;with subject &apos;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Loop_through_Cases_Waiting_on_Customer_Response.Subject}&apos; &lt;/span&gt;has been closed as there was no response from your side in the last 7 days. If you still need assistance, please log a new case and we will be happy to help.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thanks,&lt;/p&gt;&lt;p&gt;Support Team&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>CaseRecordFromCurrentLoopItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CasesToCloseCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
